/* DOCUMENT COLORS:
  #B27846 orange 
  #2D2B2B near-black
  #435F65 teal
  #FFFFFF white
  #65605C brown
  #88ABB2 light teal
   */




/*tells browser to hide anything that goes off
 of the left/right side of browser window */
html, body {
  overflow-x:hidden;
}

body {
  font-family: 'Pontano Sans', Helvetica, Arial, sans-serif;
  color: #435F65; /* teal text */
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', serif;
}

h2 {
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  line-height: 19px;
  font-weight: 100;
}

/* grid */
/* center content */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

/* grid */
/* pseudo elements add a table before and after 
using a clearfix hack to help with spacing each 
"container" appropriately */
.container:before, .container:after {
  content: " ";
  display: table;
}

/* grid */
.container:after {
  clear:both;
}

/* grid */
/* provide 2% padding on left and right margins for all */
/* columns are set to float left which pushes them to the left side,
allowing other columns in the section to wrap around */
.one-half, .one-third, .one-quarter {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin-top: 0;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 20px;
}



/* media queries */
/* if screen is 320px wide (iPhone portrait) or larger,
change container class to 310px wide
http://www.websitedimensions.com/
 */


/* media queries */
/* if screen is 768px wide (iPad portrait) or larger, we change
the container class to 750px wide
http://www.websitedimensions.com/
Column attributes are not specified unless the screen 
is at least 992px wide so if the screen is smaller than that
we won't have any columns
 */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}



/* media queries */
/* if screen is 992px wide or larger (laptops), we change
the container class to 960px wide 
Also, specify the width of columns for all 
screens 992px or larger
*/
@media (min-width: 992px) {
  .container {width: 972px;}
  .one-half {width: 46%;}
  .one-third {width: 29.33333%;}
  .one-quarter {width: 21%;}
  .fifteen-percent {width: 15%;}
  .thirtyone-percent {width: 31%;}

}
/* media queries */
/* if screen is 1200px wide or larger (desktops), we change
the container class to 1170 wide */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* media queries */
/* if screen is 1920px wide or larger, we change
the container class to 1885px wide
http://www.websitedimensions.com/ */
@media (min-width: 1920px) {
  .container {
    width: 1885px;
  }
}
/* media queries */
/* if screen is 2560px wide or larger, we change
the container class to 2525px wide
http://www.websitedimensions.com/ */
@media (min-width: 2560px) {
  .container {
    width: 2525px;
  }

}




/* TESTIMONIALS SECTION */
/* Background color Mask: */
.testimonials {
  padding: 4em 0; /* 4em top and bottom */
  text-align: center;
  color: #ffffff; /* white text */
  /* background */
  background: #435F65 url("../images/testimonials-background.png") 
  top center no-repeat; /* teal  */
  /* gradient */
  background: url("../images/testimonials-background.png") 
  top center no-repeat linear-gradient(45deg, 
  #65605C 0%, rgba(95,129,163,0.50) 100%); /* brown */
  background-size: cover;
}
 .testimonials blockquote {
   font-style: italic;
   background: #FFFFFF; /* WHITE */
   position: relative;
   padding: 30px;
   color:  #435F65; /* teal */
   width: auto;
   margin: 0;
   border-radius: 10px;
 }
 /* pseudo class used for triangle at bottom of blockquote bubble */
 /* http://apps.eky.hk/css-triangle-generator/ */
 .testimonials blockquote:after {
   top: 100%;
   left: 13%;
   border: solid transparent;
   content: " "; /* empty content */
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-top-color: #FFFFFF; /* white, same as background */
   border-width: 10px;
   margin-left: -10px;
 }
  .testimonials img {
   height: 65px;
   width: 65px;
   border-radius: 50%; /* circle */
   float: left; /* to the left in the column */
   display: inline-block; /* image and text side-by-side */
   margin-top: 10px;
   margin-right: 10px;
   margin-left: 6px;
 }
  .testimonials p.name {
   float: left;
   display: inline-block; /* image and text side-by-side */
   text-align: left;
   font-size: 14px;
   margin-top: 25px;
 }
 .testimonials .evendown {
  margin-top:20px;
  ;
 }
/* DOCUMENT COLORS:
  #B27846 orange 
  #2D2B2B near-black
  #435F65 teal
  #FFFFFF white
  #65605C brown
  #88ABB2 light teal
   */




