/*tells browser to hide anything that goes off
 of the left/right side of browser window */
html, body {
  overflow-x:hidden;
}

body {
  font-family: 'Pontano Sans', Helvetica, Arial, sans-serif;
  color: #333333;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', serif;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}

/* grid */
/* center content */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

/* grid */
/* pseudo elements add a table before and after 
using a clearfix hack to help with spacing each 
"container" appropriately */
.container:before, .container:after {
  content: " ";
  display: table;
}

/* grid */
.container:after {
  clear:both;
}

/* grid */
/* provide 2% padding on left and right margins for all */
/* columns are set to float left which pushes them to the left side,
allowing other columns in the section to wrap around */
.one-half, .one-third, .one-quarter {
  width: 96%;
  float:left;
  position: relative;
  min-height: 1px;
  margin-top: 0;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 20px;
}



/* media queries */
/* if screen is 320px wide (iPhone portrait) or larger,
change container class to 310px wide
http://www.websitedimensions.com/
 */


/* media queries */
/* if screen is 768px wide (iPad portrait) or larger, we change
the container class to 750px wide
http://www.websitedimensions.com/
Column attributes are not specified unless the screen 
is at least 992px wide so if the screen is smaller than that
we won't have any columns
 */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}



/* media queries */
/* if screen is 992px wide or larger (laptops), we change
the container class to 960px wide 
Also, specify the width of columns for all 
screens 992px or larger
*/
@media (min-width: 992px) {
  .container {
    width: 972px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-quarter {
    width: 21%;
  }
}
/* media queries */
/* if screen is 1200px wide or larger (desktops), we change
the container class to 1170 wide */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* media queries */
/* if screen is 1920px wide or larger, we change
the container class to 1885px wide
http://www.websitedimensions.com/ */
@media (min-width: 1920px) {
  .container {
    width: 1885px;
  }
}
/* media queries */
/* if screen is 2560px wide or larger, we change
the container class to 2525px wide
http://www.websitedimensions.com/ */
@media (min-width: 2560px) {
  .container {
    width: 2525px;
  }

}




/* HEADER 
from example video:;
   color:#FFFFFF;
   background: #34495E;
   background-image: linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
*/
/* text color is white */
header {
  color: #ffffff;
  /* hero background information from sketch file (right-click
    on element name and choose Copy CSS Attributes to copy the 
    element's attributes) */
background: #435F65;
background-image: linear-gradient(-206deg, 
  rgba(95,129,163,0.50) 0%, #65605C 100%);
}

/* 1em padding on top and bottom, 0 padding on left and right */
 header nav {
   padding:1em 0;
 }
/* make sign in / sign out links on same line, align the 
to the right side of screen, links should appear on right side */
header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
}
/* parent unordered list.
removes bullets for sign in / sign out
makes them on same line 
with space between them */
/* 0 margin on top and bottom, 15px margin on left and right */
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin: 0 15px;
 }
/* add white rounded box (border) around sign up (class=btn-outline) */
/* 10px padding on top and bottom, 15px padding on left and right */
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border: 2px solid #FFFFFF;
   border-radius: 4px;
 }
 /* changes sign up to white background when hover on it */
  header nav ul > li.btn-outline:hover {
   background: #FFFFFF;
 }
  /* changes sign in & sign out links to white no underline */
  header nav ul > li > a {
   color: #FFFFFF;
   text-decoration: none;
 }
 /* when hover over sign up link, the text
changes color */
 header nav ul > li.btn-outline:hover > a {
   /* example video    color: #34495E */
   color: #2D2B2B;
 }

 /* class=hero of header */
 /* centers text, looks like a block, everything to 
 flow underneath it*/
 header .hero {
   text-align: center;
   display: block;
   position: relative;
 }
 /* title header text-size is very large now with 
 more space above it */
 header .hero h1 {
   font-size: 40px;
   font-weight: normal;
   margin-top: 40px;
   margin-bottom: 40px;
 }
  /* company name header text-size is larger than other h1
  overrides the h1 margin-top attribute listed above */
 #companyname  {
   font-size: 80px;
   font-weight: normal;
   margin: 0;
   font-variant: small-caps;
 }
 /* hero paragraph font-size also larger with more space between lines
 font-weight light  
 margin to top 10, 0 right/left, 40 on bottom */
  header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin: 10px 0 40px;
 }
 /* laptop computer image moved down a bit
 right/left sides to auto (centers it), bottom margin 0 */
  header .hero img {
   display: block;
   margin-top: 3em;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0;
 }

 /* BUTTONS */
 .btn {
   border-radius: 7px; /* rounded corners */
   color: #FFFFFF; /* white font */
   font-family: 'Bree Serif', serif;
   font-size: 18px;
   /*font-weight: 700; bold font */
   text-decoration: none; /* no link underline */
   padding: 10px 30px; /* 10px top/bottm and 30px right/left */
   background: #B27846; /* example video #2ECC71 */
   border: 1px solid #B27846; /* example video #2ECC71; */
   box-shadow: 0px 4px 0px 2px #ffffff; /* example video #22894E; */
 }




 /* BENEFITS (a.k.a. features) section */

.benefits {
  color: #ffffff; /* white text */
  /* hero background information from sketch file (right-click
    on element name and choose Copy CSS Attributes to copy the 
    element's attributes) */
background: #65605C;
}




/* PRICING */
.pricing .centeralign {
  text-align: center;
}




/* TESTIMONIALS SECTION */
/* Background color Mask: */
.testimonials {
/* Mask: */
background: #435F65;
background-image: linear-gradient(45deg, #65605C 0%, rgba(95,129,163,0.50) 100%);
/* image:
opacity: 0.3; */
}
.testimonials .centeralign {
  text-align: center;
}
.testimonials blockquote {
  text-align: center;
}





/* REMINDER TO SIGN UP SECTION */
.remindersignup {
    text-align: center;
}






/* FOOTER */
footer {
  color: #ffffff; /* white text */
  /* hero background information from sketch file (right-click
    on element name and choose Copy CSS Attributes to copy the 
    element's attributes) */
background: #65605C;
}
.middle-footer-block {
    text-align: center;
}
.right-footer-block {
    text-align: right;
}